{
  "Parameters": {
    "GlueJobName": "${STACK_NAME}",
    "Environment": "${ENV}",
    "ScriptLocation": "s3://${S3_BUCKET}/${GLUE_SCRIPTS_PATH}/oracle_extraction.py",
    "WorkerType": "G.1X",
    "NumberOfWorkers": "2",
    "S3Bucket": "${S3_BUCKET}",
    "S3BUCKETArtifactory": "${ARTIFACTORY_BUCKET}"
  }
}