{
	"environment": "${ENV}",
	"region": "${REGION}",
	"bucket": "${S3_BUCKET}",
	"artifactBucket": "${ARTIFACTORY_BUCKET}",
	"glueJobConfig": {
		"workerType": "G.1X",
		"numberOfWorkers": 2,
		"timeout": 2880
	},
	"vpcConfig": {
		"vpcId": "${VPC_ID}",
		"subnets": "${VPC_SUBNETS}",
		"securityGroupId": "${SECURITY_GROUP_ID}",
		"routeTableId": "${ROUTE_TABLE_ID}"
	},
	"layerArns": {
		"preProcessor": "${PRE_PROCESSOR_LAYER_ARN:-}",
		"pandasLayer": "${PANDAS_LAYER_ARN:-arn:aws:lambda:eu-west-1:336392948345:layer:AWSLambda-Python311-SciPy1x:1}"

	},
	"concurrency": {
		"maxRuns": 25,
		"maxStateMachines": 5
	}
}
